name: CI/CD KnowledgeBase

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: [self-hosted, windows]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        shell: cmd
        run: |
          set IMAGE_NAME=nhatth29/knowlegebase
          set COMMIT_SHA=%GITHUB_SHA%
          echo Building image %IMAGE_NAME%:%COMMIT_SHA%
          docker build -t %IMAGE_NAME%:%COMMIT_SHA% .
          docker tag %IMAGE_NAME%:%COMMIT_SHA% %IMAGE_NAME%:latest

      - name: Push Docker image
        shell: cmd
        run: |
          set IMAGE_NAME=nhatth29/knowlegebase
          set COMMIT_SHA=%GITHUB_SHA%
          docker push %IMAGE_NAME%:%COMMIT_SHA%
          docker push %IMAGE_NAME%:latest

      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /opt/knowledgebase
            docker compose pull
            docker compose up -d
